<%= provide(:title, "問題一覧") %>

<section class = "list">
  <% @questions.each do |question| %>
    <li><%= question.content %></li>
    <li><%= link_to "削除",  question, method: :delete,
                                  data: { confirm: "You sure?" } %></li>
  <% end %>
</section>