<div class = "mode1">
  <h1>Quick Response!</h1>
  <p>シンプルな質問に対して１文で解答</p>
  <P>制限時間: 20秒</p>
  <%= link_to "Challenge!", "#" , class: "challenge-btn" %>
</div>
<div class = "mode2">
  <h1>Explain Yourself!</h1>
  <p>説明を求める質問に対して可能な限り長文で解答</p>
  <P>制限時間: 45秒</p>
  <%= link_to "Challenge!", "#" , class: "challenge-btn" %>
</div>




