
<section class ="bg-blue-900 container mx-auto w-3/4 my-20 py-3.5 text-center text-white text-3xl
                 rounded-lg border-solid border-4 border-white">
  <h1 class = "font-bold">Explain モード</h1>
  <p class="p-10 text-lg">ランダムに出題される質問に対して説明形式で回答</p>
  <p class="text-lg">5W1Hを意識してなるべく長文で回答してみましょう</p>
  <P class= "text-lg">制限時間: 45秒</p>
  <button class= "my-10 bg-white hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" >
    <%= link_to "学習開始!", new_answer_path %>
  </button>
</section>

<section class ="bg-blue-900 container mx-auto w-3/4 my-20 py-3.5 text-center text-white text-3xl
                 rounded-lg border-solid border-4 border-white">
  <h1 class = "font-bold">Reaction モード</h1>
  <p class="p-10 text-lg">ランダムに表示される発言に英文でリアクション</p>
  <p class="text-lg">5W1Hを意識してなるべく長文で回答してみましょう</p>
  <P class= "text-lg">制限時間: 45秒</p>
  <button class= "my-10 bg-white hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" >
    <%= link_to "学習開始!", new_reaction_path %>
  </button>
</section>




