<h1>SelfTalkEnglish</h1>

<p><%= @user.name %>様</p>

<p>
　ご登録頂きありがとうございます。現在は仮登録状態です。下記URLからログインを行ってください。
</p>

<%= link_to "ログインを行う", edit_api_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
