<h1>パスワード再設定</h1>

<p>下記リンクからパスワードの再設定を行ってください。</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>このリンクは2時間後に使用できなくなります。</p>

<p>
もし当メールに心当たりがないようでしたらご放念ください。
</p>
