<% provide(:title, @user.name) %>

<h1>学習記録</h1>

<section class = "list">
  <% @dates.each do |record| %>
    <li> <%= link_to record, answers_path(created_at: record) %> </li>
    
  <% end %>
</section>

