<%= javascript_pack_tag 'home_page/application' %>

<dl class="w-44 absolute inset-y-24 left-1 font-bold text-center">
  <dt class="bg-black text-white border border-solid border-white">モードを選択</dt>
  <dd>
    <ul class="bg-black border border-solid border-white text-white">
      <% if current_page?(answers_path) %>
       <li class="border border-solid border-white hover:bg-blue-900"><%= link_to "Reactionモード", reactions_path(created_at: params[:created_at]), class: "block" %></li>
      <% else %>
        <li class="border border-solid border-white hover:bg-blue-900"><%= link_to "Explainモード", answers_path(created_at: params[:created_at]), class:"block" %></li>
      <% end %>
    </ul>
  </dd>

</dl>
