// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
//course

.course-overall {
  text-align: center;
}

.course-progress-wrapper {
  margin-bottom:40px;
  color: #ffffff;
}

.progress-prop {
  width: 50%;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 9999px;
}

.question-display {
  padding-top: 24px;
  padding-bottom: 32px;
  padding-right: 32px;
  padding-left: 32px;
  margin: 0 auto;
  width: 100%;
  max-width: 28rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 0.5rem;
  text-align: left;
  font-size: 1.5rem;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.answer-input-form {
  align-content: center;
  padding-top: 12px;
  padding-left: 12px;
  margin-top: 36px;
  width: 100%;
  height: 144px;
  border-style: solid;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgba(75, 85, 99, var(--tw-border-opacity));
  border-radius: 0.25rem;
  font-size: 1.5rem;
  resize: none;
}

.next-question-btn {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #ffffff;
  --tw-bg-opacity: 1;
  background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(59, 130, 246, var(--tw-border-opacity));
  border-radius: 9999px;
  font-weight: 600;
  &:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(147, 197, 253, var(--tw-bg-opacity));
  }
}

.finish-btn {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 28px;
  padding-left: 28px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 16px;
  --tw-text-opacity: 1;
  color: rgba(59, 130, 246, var(--tw-text-opacity));
  background-color: #ffffff;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(59, 130, 246, var(--tw-border-opacity));
  border-radius: 9999px;
  font-weight: 600;
  &:hover {
    color: #ffffff;
    --tw-bg-opacity: 1;
    background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
  }
}


#progress::-webkit-progress-bar {
  background-color: #D1D5DB;
  border-radius: 15px;
}

#progress::-webkit-progress-value {
  background-color: #3B82F6;
  border-radius: 15px;
}

#progress::-moz-progress-bar {
  background-color: #3B82F6;
  border-radius: 15px;
}

#progress::-ms-fill {
  background-color: #3B82F6;
  border-radius: 15px;
}

//answer-index

.answer-index-wrapper {
  justify-content: center;
  align-items: center;
}

.answers{
  overflow-wrap: break-word;
  margin-bottom: 128px;
  height: 92px;
  list-style: none;
  font-size: 1.5rem;
  line-height: 2rem;
}

.course-btn{
  text-align: center;
  margin-top: 256px;
}

.answer-text-content {
  padding: 8px;
  width: 100%;
  height: 100%;
  color: black;
  background-color: white;
  resize: none;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 0.5rem;
}

.question-content {
  color: white;
}

.edit-btn{
  width: 120px;
  background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
  border-radius: 9999px;
  color: white;
  text-align: center;
  margin-top: 12px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
}

.edit-btn:hover{
  background-color: rgba(147, 197, 253, var(--tw-bg-opacity));
}

//answer-edit


.answer-edit-wrapper {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.from-course-name {
  font-size: 1.5rem;
  color: #ffffff;
}

.edit-save-btn {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 16px;
  padding-left: 16px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 16px;
  color: #ffffff;
  --tw-bg-opacity: 1;
  background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(59, 130, 246, var(--tw-border-opacity));
  border-radius: 9999px;
  font-weight: 600;
  &:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(147, 197, 253, var(--tw-bg-opacity));
  }
}

.to-answer-index-btn {
  @media screen and (max-width: 480px) {
    padding-right: 8px;
    padding-left: 8px;
  }
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 16px;
  --tw-text-opacity: 1;
  color: rgba(59, 130, 246, var(--tw-text-opacity));
  background-color: #ffffff;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(59, 130, 246, var(--tw-border-opacity));
  border-radius: 9999px;
  font-weight: 600;
  &:hover {
   color: #ffffff;
   --tw-bg-opacity: 1;
   background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
  }
}

.result {
  background-color: #ffffff;
}

