//全体
.contents {
  flex-grow: 1;
  padding: 96px;
}

//header
#header-wrapper{
  height: 64px;
}

#not-login-menu{
  padding: 16px;;
}


//home not login
.home-title-wrapper {
  color: white;
  padding-top: 24px;
}

.home-title {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.home-subtitle {
  margin-bottom: 32px;
  font-size: 1.125rem;
  font-weight: bold;
}

.signin-link {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
  color: white;
  font-weight: bold;
  padding: 8px;
  border-radius: 9999px;
  &:hover {
    background-color: rgba(147, 197, 253, var(--tw-bg-opacity));
  }
}

.guest-link {
  margin-left: 16px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: rgba(16, 185, 129, var(--tw-bg-opacity));
  color: white;
  font-weight: bold;
  padding: 8px;
  border-radius: 9999px;
  &:hover {
    background-color: rgba(110, 231, 183, var(--tw-bg-opacity));
  }
}


.home-link-about{
  font-size: 1.125rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 28rem;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 0.5rem;
  background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
  padding: 8px;
  display: block;
  &:hover {
    background-color: rgba(147, 197, 253, var(--tw-bg-opacity));
  }
}

.home-div {
  color: white;
  margin-top: 96px;
  margin-bottom: 96px;
}

.about-css{
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 48px;
  margin-bottom: 48px;
}

.about-sentence {
  text-align: justify;
  line-height: 2.5rem;
}

//home after login
.course-layout{
  width: 360px;
  background-color: rgba(147, 197, 253, var(--tw-bg-opacity));
  padding: 16px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 4px;
  border-color: white;
  border-radius: 0.5rem;
  color: black;
  font-size: 1.875rem;
}

.start-btn {
  margin-top: 16px;
  background-color: rgba(245, 158, 11, var(--tw-bg-opacity));
  color: white;
  font-weight: 600;
  border-width: 1px;
  border-color: white;
  border-radius: 9999px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 16px;
  padding-left: 16px;
  &:hover {
    background-color: white;
    color: black;
    border-color: rgba(252, 211, 77, var(--tw-border-opacity));
  }
}

.course-text {
  font-size: 1.125rem;
  margin-top: 16px;
}

.course-icon {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 96px;
}



//about

#demerit {
  --tw-bg-opacity: 1;
  background-color: rgba(239, 68, 68, var(--tw-bg-opacity));
}

//answer new progress

#progress::-webkit-progress-bar {
  border-radius: 15px;
  background-color: #D1D5DB;
}

#progress::-webkit-progress-value {
  border-radius: 15px;
  background-color: #3B82F6;

}

#progress::-moz-progress-bar {
  border-radius: 15px;
  background-color: #3B82F6;

}

#progress::-ms-fill {
   border-radius: 15px;
   background-color: #3B82F6;

}

//hamburger

.hamburger {
  position: absolute;
  display: block;
  top: 20px;
  right: 28px;
  width: 48px;
  cursor: pointer;
  z-index: 10;
}

//nav-menu

.inner_line1 {
  display: block;
  position: absolute;
  left: 0;
  width: 40px;
  height: 3px;
  background-color: #ffffff;
  transition: 1s;
  border-radius: 4px;
  top: 0px;
}
.inner_line2 {
  display: block;
  position: absolute;
  left: 0;
  width: 40px;
  height: 3px;
  background-color: #ffffff;
  transition: 1s;
  border-radius: 4px;
  top: 10px;
}
.inner_line3 {
  display: block;
  position: absolute;
  left: 0;
  width: 40px;
  height: 3px;
  background-color: #ffffff;
  transition: 1s;
  border-radius: 4px;
  top: 20px;
}

.in{
  transform: translateX(-100%);
}

.line_1,.line_2,.line_3{
  background: #000000;
}

.line_1 {
  /*45度回転させる*/
  transform: rotate(-45deg);
  top: 0px;
}
.line_2 {
  opacity: 0;
}
.line_3 {
  /*45度回転させる*/
  transform: rotate(45deg);
  top: 0px;
}

#nav {
  width: 40%;
  background-color: white;
  color: #000000;
  position: absolute;
  top: 0px;
  right: -66.666667%;
  height: 100vh;
  transition: .7s;
}

#nav ul{
  padding-top: 80px;
  background-color: white;
}
#nav ul li{
  list-style-type: none;
  margin-top: 16px;
  font-size: 18px;
  text-decoration: underline;
  &:hover{
    color: #ffffff;
    background: #000000;
    border-bottom: none;
    cursor: pointer;
  }
}


//answer-index

.answers{
  overflow-wrap: break-word;
  margin-bottom: 128px;
  height: 92px;
  list-style: none;
  font-size: 1.5rem;
  line-height: 2rem;
}

.course-btn{
  text-align: center;
  margin-top: 256px;
}

.answer-text-content {
  background-color: white;
  color: black;
  width: 100%;
  resize: none;
  padding: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 0.5rem;
}

.question-content {
  color: white;

}

.edit-btn{
 width: 120px;
 background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
 border-radius: 9999px;
 color: white;
 text-align: center;
 margin-top: 24px;
 padding-top: 0.5rem;
 padding-bottom: 0.5rem;
}

.edit-btn:hover{
  background-color: rgba(147, 197, 253, var(--tw-bg-opacity));
}



//mymenu

.my-menu{
  margin-bottom: 24px;
  width: 120px;
  color: white;
  text-align: center;
  font-size: 1.25rem;

}

.course-link{
  background-color: rgba(99, 102, 241, var(--tw-bg-opacity));
  border-width: 1px;
  border-style: solid;
  border-color: white;
  display: block;
}

.course-link:hover{
  background-color: rgba(147, 197, 253, var(--tw-bg-opacity));
}
.dictionary-link{
  background-color: rgba(16, 185, 129, var(--tw-bg-opacity));
  border-width: 1px;
  border-style: solid;
  border-color: white;
  display: block;
}

.dictionary-link:hover{
  background-color: rgba(110, 231, 183, var(--tw-bg-opacity));
}

//mypage

.learning-day {
  width: 96px;
  height: 96px;
  padding-top: 32px;
  text-align: center;
  object-fit: cover;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 9999px;
}

.user-page {
  padding: 4px;
  margin-right: 80px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  border-radius: 9999px;
  background-color: rgba(245, 158, 11, var(--tw-bg-opacity));
}

.user-page:hover{
  background-color: rgba(252, 211, 77, var(--tw-bg-opacity));
}

.contribution{
  margin-left: 48px;
}

.answer-list-title {
  text-align: center;
  font-size: 1.875rem;
  color: white;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 24px;
}

.contribution-progress {
  width: 128px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  height: 16px;
  margin-top: 4px;
}


//form

.form-p {
  padding-top: 16px;
  padding-bottom: 16px;
}

.password-reset-link {
 text-decoration: underline;
 --tw-text-opacity: 1;
 color: rgba(30, 58, 138, var(--tw-text-opacity));
 &:hover{
  --tw-text-opacity: 1;
  color: rgba(219, 234, 254, var(--tw-text-opacity));
 }
}

//answer-edit

