//overall
.wrapper {
  display: flex;
  flex-direction: column;
  --tw-bg-opacity: 1;
  background-color: rgba(30, 58, 138, var(--tw-bg-opacity));
  min-height: 100vh;

}

.contents {
  @media screen and (min-width: 960px) {
    padding-right: 96px;
    padding-left: 96px;
  }
  padding-top: 96px;
  padding-bottom: 96px;
  flex-grow: 1;
}

.link-block {
  display: block;
}

//header

.header-overall {
  position: fixed;
  width: 100%;
  height: 64px;
  color: #ffffff;
  --tw-bg-opacity: 1;
  background-color: rgba(30, 58, 138, var(--tw-bg-opacity));
  border-bottom-width: 2px;
}

.app-title {
  font-size: 1.875rem;
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

.user-page {
  @media screen and (max-width: 480px) {
    margin-right: 65px;
  }
  padding: 4px;
  margin-right: 80px;
  background-color: rgba(245, 158, 11, var(--tw-bg-opacity));
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  border-radius: 9999px;
  &:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(252, 211, 77, var(--tw-bg-opacity));
  }
}

.login-menu{
  @media screen and (max-width:480px){
    padding: 8px;
  }
  float: right;
  display: flex;
  flex-direction: row;
  padding: 16px;
  color: #ffffff;
  font-weight: bold;
}

.not-login-menu {
  @media screen and (max-width: 480px) {
    margin-right: 8px;
  }
  margin-right: 16px;
  &:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(147, 197, 253, var(--tw-bg-opacity));
  }
}

.guest-menu {
  margin-right: 16px;
  font-weight: bold;
  &:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(147, 197, 253, var(--tw-bg-opacity));
  }
}


//hamburger

.hamburger {
  @media screen and (max-width: 480px) {
    right: 14px;
    top: 14px;
  }
  position: absolute;
  top: 20px;
  right: 28px;
  width: 48px;
  display: block;
  cursor: pointer;
  z-index: 10;
}

.inner_line1 {
  position: absolute;
  top: 0px;
  left: 0;
  width: 40px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 4px;
  display: block;
  transition: 1s;
}

.inner_line2 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 40px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 4px;
  display: block;
  transition: 1s;
}

.inner_line3 {
  position: absolute;
  top: 20px;
  left: 0;
  width: 40px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 4px;
  display: block;
  transition: 1s;
}

//クリック後のhamburger icon

.in{
  transform: translateX(-100%);
}

.line_1,.line_2,.line_3{
  background: #000000;
}

.line_1 {
  top: 0px;
  transform: rotate(-45deg);
}
.line_2 {
  opacity: 0;
}
.line_3 {
  top: 0px;
  transform: rotate(45deg);
}

//nav menu
#nav {
  @media screen and (max-width: 480px){
    width: 60%;
    right: -80%;
  }
  position: absolute;
  top: 0px;
  right: -66.666667%;
  width: 40%;
  height: 100vh;
  color: #000000;
  background-color: #ffffff;
  transition: .7s;
}

#nav ul{
  padding-top: 80px;
  background-color: #ffffff;
}
#nav ul li{
  margin-top: 16px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  list-style-type: none;
  &:hover{
    color: #ffffff;
    background-color: #000000;
    border-bottom: none;
    cursor: pointer;
  }
}

.notice-sign {
  --tw-text-opacity: 1;
  color: rgba(217, 119, 6, var(--tw-text-opacity));
  font-size: small;
}

//footer

.footer-overall {
  color: #ffffff;
  border-top-width: 2px;
  text-align: center;
}

.footer-div {
  @media screen and (max-width: 480px) {
    padding: 48px;
  }
  padding: 64px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  border-bottom-width: 2px;
  align-items: center;
  justify-content: center;
}

.footer-link {
  margin: 24px;
}

//forms

.form-overall {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 32px;
  padding-right: 32px;
  padding-left: 32px;
  margin: 0 auto;
  margin-top: 36px;
  width: 100%;
  max-width: 28rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 0.5rem;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.form-title {
  margin-bottom: 24px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}


.form-column {
  padding-left: 12px;
  width: 100%;
  height: 40px;
  border-style: solid;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgba(75, 85, 99, var(--tw-border-opacity));
  border-radius: 0.25rem;
}

.btn-div {
  margin-top: 16px;
}

.form-btn {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  width: 50%;
  color: #ffffff;
  --tw-bg-opacity: 1;
  background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
  font-weight: 600;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 9999px;
  &:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(147, 197, 253, var(--tw-bg-opacity));
  }
}

.form-p {
  padding-top: 16px;
  padding-bottom: 16px;
}

.password-reset-link {
  color: rgba(30, 58, 138, var(--tw-text-opacity));
  text-decoration: underline;
  --tw-text-opacity: 1;
  &:hover{
    --tw-text-opacity: 1;
    color: rgba(219, 234, 254, var(--tw-text-opacity));
  }
}

//mymenu

.my-menu{
  margin-bottom: 24px;
  width: 120px;
  color: #ffffff;
  text-align: center;
  font-size: 1.25rem;
}

.mypage-link {
  background-color: rgba(245, 158, 11, var(--tw-bg-opacity));
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  display: block;
  &:hover {
    background-color: rgba(252, 211, 77, var(--tw-bg-opacity));
  }
}

.course-link{
  background-color: rgba(99, 102, 241, var(--tw-bg-opacity));
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  display: block;
  &:hover {
    background-color: rgba(147, 197, 253, var(--tw-bg-opacity));
  }
}

.dictionary-link{
  background-color: rgba(16, 185, 129, var(--tw-bg-opacity));
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  display: block;
  &:hover {
    background-color: rgba(110, 231, 183, var(--tw-bg-opacity));
  }
}


//dictionary

.dictionary-wrapper {
  margin: 0 auto;
  max-width: 28rem;
}

.add-item-btn {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  margin-bottom: 16px;
  color: #ffffff;
  --tw-bg-opacity: 1;
  background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
  font-weight: 600;
  &:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(147, 197, 253, var(--tw-bg-opacity));
  }
}

.add-item-section {
  @media screen and (max-width: 480px){
    flex-direction: column;
  }
  display: flex;
  flex-direction: row;
}

.add-item-label {
  color: #ffffff;
}

.add-item-column {
  @media screen and (max-width: 480px){
    height: 60px;
  }
  padding-top: 4px;
  padding-left: 4px;
  height: 80px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  resize: none;
}

.content-title {
  margin-bottom: 32px;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.items {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
}

.items-column {
  @media screen and (max-width: 480px) {
    height: 72px;
    font-size: 0.75rem;
  }
 padding: 8px;
 height: 96px;
 background-color: #ffffff;
 border-style: solid;
 border-width: 1px;
 list-style: none;
}

.items-memo {
  @media screen and (max-width: 480px) {
    width: 180px;
    height: 72px;
    font-size: 0.75rem;
  }
 padding: 8px;
 height: 96px;
 background-color: #ffffff;
 border-style: solid;
 border-width: 1px;
 list-style: none;
}

.items-delete {
  @media screen and (max-width: 480px) {
    padding: 2px;
    font-size: 0.75rem;
  }
  padding: 4px;
  margin-left: 24px;
  color: #ffffff;
  --tw-bg-opacity: 1;
  background-color: rgba(239, 68, 68, var(--tw-bg-opacity));
  border-style: solid;
  border-width: 1px;
  border-radius: 0.375rem;
  text-decoration: underline;
  &:hover {	--tw-bg-opacity: 1;
    background-color: rgba(252, 165, 165, var(--tw-bg-opacity));
  }
}

.checkbox {
  margin-left: 24px;
  margin-top: 32px;
  transform: scale(2);
  z-index: -1;
}




//notice

.notice-wrapper {
  color: #ffffff;
  margin-bottom: 210px;
}

.notice-title {
  margin-bottom: 24px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.all-notices {
  margin-bottom: 16px;
  width: 100%;
}
.notice-list {
  padding: 16px;
  margin-bottom: 16px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  list-style: none;
}

.notice-list-title {
  margin-left: 16px;
  text-decoration: underline;
  &:hover {
    --tw-text-opacity: 1;
    color: rgba(59, 130, 246, var(--tw-text-opacity));
  }
}

.notice-content-wrapper {
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #000000
}

.notice-content {
  padding: 16px;
  height: 300px;
  width: 100%;
  color: #000000;
  font-size: 1.5rem;
}

.link-to-notices {
  margin-top: 72px;
  text-decoration: underline;
  &:hover {
    --tw-text-opacity: 1;
    color: rgba(59, 130, 246, var(--tw-text-opacity));
  }
}

.delete-notice {
  margin-right: 16px;
  text-decoration: underline;
  float: right;
  &:hover {
    --tw-text-opacity: 1;
    color: rgba(59, 130, 246, var(--tw-text-opacity));
  }
}

//error404

.error-wrapper {
  color: #ffffff;
  font-size: 1.875rem;
  text-align: center;
}

.error-title {
  margin-bottom: 120px;
}

.error-sentence {
  margin-bottom: 144px;
  text-align: justify;
}

.error-home-link {
  text-decoration: underline;
  &:hover {
    --tw-text-opacity: 1;
    color: rgba(59, 130, 246, var(--tw-text-opacity));
  }
}
