// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
//home overall
.home-wrapper {
  text-align: center;
}

//home not login

.home-title-wrapper {
  padding-top: 72px;
  color: #ffffff;
}

.home-title {
  margin-bottom: 24px;
  font-size: 4.5rem;
  font-weight: bold;
}

.home-subtitle {
  margin-bottom: 32px;
  font-size: 1.5rem;
  font-weight: bold;
}

.signin-link {
  padding: 8px;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #ffffff;
  background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
  border-radius: 9999px;
  font-weight: bold;
  &:hover {
    background-color: rgba(147, 197, 253, var(--tw-bg-opacity));
  }
}

.guest-link {
  padding: 8px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 16px;
  color: #ffffff;
  background-color: rgba(16, 185, 129, var(--tw-bg-opacity));
  border-radius: 9999px;
  font-weight: bold;
  &:hover {
    background-color: rgba(110, 231, 183, var(--tw-bg-opacity));
  }
}


.home-link-about{
  padding: 8px;
  margin: 0 auto;
  background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
  max-width: 28rem;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  display: block;
  &:hover {
    background-color: rgba(147, 197, 253, var(--tw-bg-opacity));
  }
}

.home-div {
  margin-top: 128px;
  margin-bottom: 96px;
  color: #ffffff;
}

.course-images {
  margin: 0 auto;
  max-width: 28rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.edit-image {
  margin: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
}

//home after login

.home-title {
  color: #ffffff;
  font-size: 1.875rem;
}

.course-title {
  font-weight: bold;
  margin-bottom: 16px;
}

.course-layout{
  padding: 16px;
  margin-top: 32px;
  margin-right: auto;
  margin-left: auto;
  width: 360px;
  color: black;
  background-color: rgba(147, 197, 253, var(--tw-bg-opacity));
  border-style: solid;
  border-width: 4px;
  border-color: white;
  border-radius: 0.5rem;
  font-size: 1.875rem;
}

.start-btn {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 16px;
  padding-left: 16px;
  margin-top: 16px;
  background-color: rgba(245, 158, 11, var(--tw-bg-opacity));
  color: white;
  border-width: 1px;
  border-color: white;
  border-radius: 9999px;
  font-weight: 600;
  &:hover {
    color: black;
    background-color: white;
    border-color: rgba(252, 211, 77, var(--tw-border-opacity));
  }
}

.course-text {
  margin-top: 16px;
  font-size: 1.125rem;
}

.course-icon {
  margin: 0 auto;
  width: 50%;
  height: 96px;
}

//about

.about-wrapper {
  color: #ffffff;
  font-weight: bold;
}

.about-section {
  margin-top: 48px;
  margin-bottom: 48px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
}

.about-sentence {
  @media screen and (max-width: 480px) {
    font-size: 0.75rem;
  }
  text-align: justify;
  line-height: 2.5rem;
}

.about-sentence-2 {
  text-align: justify;
  line-height: 2.5rem;
}

.merit {
  margin: 0 auto;
  max-width: 28rem;
  --tw-bg-opacity: 1;
  background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
  text-align: center;
  line-height: 2.5rem;
}

.point-sentence {
  @media screen and (max-width: 480px) {
    font-size: 0.875rem;
  }
  border-style: solid;
  border-width: 1px;
}



.demerit {
  margin: 0 auto;
  max-width: 28rem;
  --tw-bg-opacity: 1;
  background-color: rgba(239, 68, 68, var(--tw-bg-opacity));
  text-align: center;
  line-height: 2.5rem;
}

//contact

.contact-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 32px;
  padding-right: 32px;
  padding-left: 32px;
  margin: 0 auto;
  margin-bottom: 16px;
  width: 100%;
  max-width: 28rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 0.5rem;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.contact-name {
  margin-top: 16px;
  margin-bottom: 16px;
}

.contact-content {
  align-content: center;
  padding-top: 12px;
  padding-left: 12px;
  margin-bottom: 24px;
  width: 100%;
  height: 144px;
  border-style: solid;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgba(75, 85, 99, var(--tw-border-opacity));
  border-radius: 0.25rem;
  font-size: 1.5rem;
  resize: none;
}

//policy

.policy-wrapper {
  @media screen and (max-width: 480px) {
    padding-right: 64px;
    padding-left: 64px;
  }
  color: #ffffff;
  font-weight: bold;
}

.policy-title {
  margin-bottom: 32px;
  text-align: center;
  font-size: 1.875rem;
}

.policy-content-prop {
  text-align: justify;
}

.policy-content {
  @media screen and (max-width: 480px){
    font-size: 0.75rem;
  }
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 1.125rem;
}

.policy-mb {
  margin-bottom: 16px
}

.policy-text {
  font-size: 1.125rem;
}
