<!--
<footer class="bg-blue-900 text-center text-white border-t-2 border-fuchsia-600">
  <div class="p-16">
   <ul>
      <li class="space-x-10 border-b-2 border-fuchsia-600">
        <%= link_to "home", root_path %>
        <%= link_to "about", about_path %>
        <%= link_to "contact", contact_path %>
        <%= link_to "利用規約", policy_path %>
      </li>
   </ul>
  </div>
</footer>-->

