<footer>
  <div class = "contents">
   <ul>
      <li>
        <%= link_to "home", "#" %>
        <%= link_to "about", "#" %>
        <%= link_to "contact", "#" %>
        <%= link_to "利用規約", "#" %>
      </li>
   </ul>
  </div>
</footer>