<%= javascript_pack_tag 'home_page/application' %>
<header>
  <div id = "header-container">
    <div class = "header-logo">
      <%= link_to "SelfTalkEnglish", "#", id: "logo" %>
    </div>
    <nav id="nav">
      <ul>
        <li><a href="#">新規登録</a></li>
        <li><a href="#">ログイン</a></li>
        <li><a href="#">マイページ</a></li>
      </ul>
    </nav>
    <div id = "hamburger">
      <span class="inner_line" id="line1"></span>
      <span class="inner_line" id="line2"></span>
      <span class="inner_line" id="line3"></span>
    </div>
  </div>
</header>